@model CollaboratR.ViewModels.RegistrationViewModel
@{
    ViewBag.Title = "Register";
}

<section>
    <div class="container">
        <div class="row">
            <!-- REGISTER -->
            
            <div class="col-md-6 col-sm-6">
                <!-- registration form -->
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "sky-form boxed"}))
            {
                    <header>Register an account</header>
                    <fieldset>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                @Html.ValidationMessageFor(m => m.Registration.Username) <br />
                                @Html.TextBoxFor(m => m.Registration.Username, new { placeholder = "Username" })
                                @*<input required="" placeholder="Email address" type="email">*@
                                <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                            </label>
                        </section>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                @Html.ValidationMessageFor(m => m.Registration.Email) <br />
                                @Html.TextBoxFor(m => m.Registration.Email, new { placeholder = "Email address" })
                                @*<input required="" placeholder="Email address" type="email">*@
                                <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                            </label>
                        </section>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                @Html.ValidationMessageFor(m=>m.Registration.Password) <br />
                                @Html.PasswordFor(m => m.Registration.Password, new { placeholder = "Password" })
                                @*<input required="" placeholder="Password" type="password">*@
                                <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
                            </label>
                        </section>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                @Html.ValidationMessageFor(m => m.Registration.ConfirmPassword) <br />
                                @Html.PasswordFor(m => m.Registration.ConfirmPassword, new { placeholder = "Confirm Password" })
                                @*<input required="" placeholder="Confirm password" type="password">*@
                                <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
                            </label>
                        </section>
                    </fieldset>
                    <fieldset>
                        <section>
                            <label class="checkbox"><input name="checkbox" type="checkbox"><i></i>I agree to the Terms of Service</label>
                            <label class="checkbox"><input name="checkbox" type="checkbox"><i></i>I want to receive news and  special offers</label>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="button">Submit</button>
                    </footer>
            }
                <!-- /registration form -->
            </div>
            <!-- /REGISTER "Gang of 4 design patterns" -->
        </div>
    </div>
</section>